version: "3.8"

services:
  dishes-app:
    build: .
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      dishes-app-db:
        condition: service_healthy

  dishes-app-test:
    build: .
    command: ["pytest"]
    env_file:
      - .env
    depends_on:
      dishes-app-db:
        condition: service_healthy
      redis:
        condition: service_healthy

  dishes-app-db:
    image: postgres:15.1-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - dishes-app-db-data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD", "pg_isready", "-q", "-d", "${POSTGRES_DB}", "-U", "${POSTGRES_USER}"]
      interval: 3s
      timeout: 30s
      retries: 3

  redis:
    container_name: redis
    image: redis:latest
    volumes:
      - ./redis/data:/data
      - ./redis/redis.conf://usr/local/etc/redis/redis.conf
    expose:
      - 6379
    ports:
      - "8100:6379"
    command: redis-server /usr/local/etc/redis/redis.conf
    networks:
      - common_network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 20s
      retries: 100

volumes:
  dishes-app-db-data:
